body {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: var(--default_font);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grey-bg {
    background-color: #fbfbfb;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #fff;
}

/* Navbar */

.navbar {
    position: absolute;
    width: 100%;
}

.navbar-brand img {
    max-width: 200px;
}

.nav-link a {
    color: var(--nav_text_color);
}

.nav-link:not(:last-child) {
    margin-left: 10px;
    margin-right: 10px;
}

/* Hero */

#hero {
    height: var(--hero_height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
}

.hero > div {
    height: var(--hero_height);
}

/* Footer */
