body {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: var(--default_font);
}

img {
    width: 100%;
}

.section-padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.grey-bg {
    background-color: #fbfbfb;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #fff;
}

/* Navbar */

.navbar {
    position: absolute;
    width: 100%;
}

.navbar-brand img {
    max-width: 200px;
}

a.nav-link {
    color: var(--nav_text_color);
    /* text-transform: uppercase; */
    font-size: 18px;
}

a.nav-link:hover {
    color: var(--nav_text_color_hover);
}

.nav-item {
    margin-left: 20px;
    margin-right: 20px;
}

/* Hero */

#hero {
    height: var(--hero_height);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
}

.hero-title h1,
.hero-title h3 {
    font-size: 5em;
}

.hero > div {
    height: var(--hero_height);
}

/* Footer */
